#myPic>img {
    height: 360px;
    position: relative;
    top: 55px;
    left: 150px;
    z-index: 3;
}

#home {
    height: 520px;
    background-color: #e0e0e0;
    overflow: hidden;
}

#colorBox1 {
    position: relative;
    top: -275px;
    left: 100px;
    width: 245px;
    height: 380px;
    background-color: #4f84b8;
    z-index: 1;
}

#colorBox2 {
    position: relative;
    top: -635px;
    left: 120px;
    width: 205px;
    height: 340px;
    background-color: #e0e0e0;
    z-index: 2;
}

.name-ch {
    position: relative;
    left: 60px;
    top: 100px;
    color: #21314b;
}

div.name-ch>h1>span {
    color: #4f84b8;
}

.name-en {
    position: relative;
    left: 110px;
    top: 110px;
    color: #21314b;
}

#intro {
    position: relative;
    left: 60px;
    top: 160px;
    color: #21314b;
    font-size: 110%;
    z-index: 3;
}

#colorBox3 {
    position: relative;
    left: 20px;
    width: 750px;
    height: 220px;
    background-color: #4f84b8;
}

#colorBox4 {
    position: relative;
    left: 40px;
    top: -205px;
    width: 750px;
    height: 185px;
    background-color: #e0e0e0;
    z-index: 2;
}

@media (max-width: 768px) {
    #home {
        height: auto;
    }
    #myPic>img {
        height: 360px;
        position: relative;
        top: 35px;
        left: 75px;
        z-index: 3;
    }
    #colorBox1 {
        position: relative;
        top: -295px;
        left: 25px;
        width: 245px;
        height: 380px;
        background-color: #4f84b8;
        z-index: 1;
    }
    #colorBox2 {
        position: relative;
        top: -655px;
        left: 45px;
        width: 205px;
        height: 340px;
        background-color: #e0e0e0;
        z-index: 2;
    }
    #myPic {
        height: 480px;
    }
    .name-ch {
        position: relative;
        left: 35px;
        top: 0px;
        color: #21314b;
    }
    div.name-ch>h1>span {
        color: #4f84b8;
    }
    .name-en {
        position: relative;
        left: 0px;
        top: 0px;
        color: #21314b;
        text-align: center;
    }
    #intro {
        position: relative;
        left: 5px;
        top: 10px;
        color: #21314b;
        font-size: 100%;
    }
    #colorBox3 {
        display: none;
    }
    #colorBox4 {
        display: none;
    }
}
